.navbar {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 2rem;
  border-bottom: 0.5px solid #f3f0f7;
  margin: 0 auto;
  max-width: 800px;
}

.navbar a:first-child {
  font-size: 22px;
  font-weight: 800;
  color: #522184;
  text-decoration: none;
  letter-spacing: -0.5px;
}

.navbar a:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-decoration: none;
  padding: 6px 14px;
  letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #28728b;
}
a:visited {
    color: #cb6e10;
}
body {
    background: #fafbfc;
}
.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    color: #222;
    line-height: 1.5;
}
@media (min-width: 800px) {
    .content {
        padding: 0 2rem;
    }
}
table {
    font-family: "Crimson Pro", serif;
    margin: 1rem auto;
    border-collapse: collapse;
    font-size: 1rem;
    background: #fafafa;
    border: 1px solid #ccc;
    display: block;
    overflow-x: auto;
    width: max-content;
    max-width: 100%;
}
th, td {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    text-align: left;
}
th {
    background-color: #f0eef6;
    font-weight: bold;
}

#table-of-contents {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "DM Sans", sans-serif;
    color: #522184;
}
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3, h4, h5, h6 { margin-bottom: 0; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
img {
    display: block;
    width: 100%;
    background: #fafafa;
    border: 1px solid #ccc;
}
label.org-src-name {
    font-size: 14px;
    color: #444;
}
label.org-src-name code {
    font-size: 11px;
}
.post-date {
    font-size: 14px;
    color: #444;
}
.figure p {
    margin: 0 !important;
    font-size: 14px;
    color: #444;
}
div.figure {
    margin: 1.5rem 0;
}
code, pre {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    line-height: 1.1;

}
code {border: 1px solid #aaa;}
div.org-src-container {
    margin: 1rem 0;
}
.src {
    overflow-x: auto;
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 6px;
    margin: 0;
}
div.footdef {
    margin: 1rem 0;
}
.footpara {
    display: inline;
}
#postamble {
  border-top: 1px solid #333;
  padding-top: 0.5rem;
  font-size: 13px;
  opacity: 0.5;
}

#postamble > div:first-child { display: none; }
#postamble p { margin: 0; }


.org-comment, .org-comment-delimiter {color: #5c7e8a;}
.org-keyword, .org-builtin, .org-preprocessor {color: #3e225a;}
.org-function-name, .org-css-selector {color: #28728b;}
.org-type, .org-constant {color: #28728b;}
.org-variable-name, .org-css-property {color: #cb6e10;}
.org-doc, .org-string {color: #cb6e10;}
