@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    font-family: 'Montserrat', sans;
}

a {
    text-decoration: none;
}

img {
    max-width: 50rem;
}
@media (max-width: 50rem) {
    img {
        max-width: 100%;
    }
}
