body {
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    font-family: sans;
}
img {
    max-width: 50rem;
}
@media (max-width: 50rem) {
    img {
        max-width: 100%;
    }
}
a {
    text-decoration: none;
}
