@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,50&family=Sixtyfour:SCAN@-25&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
div.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 900px;
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 16px;
    overflow-x: auto;
}
div.navbar > a {
    text-decoration: inherit;
    font-size: 30px;
    font-family: "Sixtyfour", sans-serif;
    color: #282a36;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "SCAN" -25;

}
a {
    color: #0000ff;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
div.content {
    max-width: 800px;
    margin: auto;
    font-family: Google Sans Flex, sans-serif;
    font-size: 14px;
    color: #282A36;
}
h1 {font-size: 30px; font-family: "serif"; }
h2 {font-size: 22px; font-family: "serif"; }
h3 {font-size: 18px; font-family: "serif"; }
h4 {font-size: 16px; font-family: "serif"; }
h5 {font-size: 14px; font-family: "serif"; }
img { max-width: 100%; }
pre.src {
    font-family: "Source Code Pro", monospace;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
code {
    font-family: "Source Code Pro", monospace;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.status {
    font-size: 11px;
    line-height: 1px;
    color: #4d4d4d;
}
.footpara {
    display: inline;
}
div.footdef {
    padding-bottom: 16px;
}

@media (max-width: 600px) {
    div.navbar > a {
        font-size: 20px;
    }
    div.navbar {
        padding: 12px;
    }
}
