@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wdth,wght@6..144,105,1..1000&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
div.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 900px;
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 16px;
    overflow-x: auto;
}
div.navbar > a {
    text-decoration: inherit;
    color: #282a36;
    font-size: 32px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 10,
        "wdth" 100,
        "GRAD" 100,
        "ROND" 100;
}
a {
    color: #0000ff;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
div.content {
    max-width: 800px;
    margin: auto;
    font-family: Google Sans Flex, sans-serif;
    font-size: 16px;
    color: #282A36;
}
h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
img { max-width: 100%; }
pre.src {
    font-family: "Google Sans Code", monospace;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
code {
    font-family: "Google Sans Code", monospace;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.status {
    font-size: 12px;
    line-height: 1px;
    color: #4d4d4d;
}
.footpara {
    display: inline;
}
div.footdef {
    padding-bottom: 16px;
}
